<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Would you rather</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="app" class="container-maxwidth min-vh-100">

        <header class="container-fluid header_box">
            <nav class="navbar navbar-light justify-content-between">
                <a class="navbar-brand">Would you rather...</a>
                <div style="display: contents;">
                    <div>
                        <button class="btn-secondary" v-on:click="toggleForm">Submit</button>
                        <button class="btn-secondary">Feedback</button>
                    </div>
                </div>
            </nav>
        </header>



        <main class="container">
            <h1 class="container header_text">Would you rather...</h1>
            <div class="container" style="width: 75%;">
                <div class="container">
                    <div id="description">
                        {{ statement.Description }}
                    </div>
                </div>
                <div class="container">
                    <div class="row align-items-center">

                        <div role="button" class="col options mr-md-3 btn btn-primary" v-on:click="reveal(1)">
                            <div id="option_1">
                                {{ statement.Answer_1 }}
                            </div>
                        </div>

                        <a class="next_statement btn btn-primary col-2 h-50 mr-1" v-on:click="next(-1)">Previous</a>
                        <a class="next_statement btn btn-primary col-2 h-50 ml-1" v-on:click="next(1)">Next</a>

                        <div role="button" class="col options ml-md-3 btn btn-primary" v-on:click="reveal(2)">
                            <div id="option_2">
                                {{ statement.Answer_2 }}
                            </div>
                        </div>

                    </div>

                    <div v-if="answered != 0">
                        <div class="row align-items-center">
                            <div class="col mr-md-3 mt-3" id="stats1">
                                <div v-if="answered == 1">
                                    You picked option 1, with {{ statement.CntAns1 }} other people.
                                </div>
                                <div v-if="answered == 2">
                                    {{ statement.CntAns1 }} people chose option 1.
                                </div>
                            </div>
                            <div class="col-4"></div>
                            <div class="col ml-md-3 mt-3" id="stats2">
                                <div v-if="answered == 2">
                                    You picked option 1, with {{ statement.CntAns1 }} other people.
                                </div>
                                <div v-if="answered == 1">
                                    {{ statement.CntAns2 }} people chose option 2.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!-- Submission form -->
            <div v-if="submit_form" class="container_submission">
                <h3>Would you rather submission</h3>

                <form action="" method="POST" @submit="commitQuestion">

                    <div class="form-group">
                        <label for="submit_description">Description</label>
                        <input type="text" placeholder="Description" class="form-control" id="submit_description" v-model="form_question.Description">
                    </div>


                    <div class="form-group">
                        <label for="answer_1 ">First answer</label>
                        <input type="text" placeholder="First Answer" class="form-control" id="form_answer_1" v-model="form_question.Answer_1">
                    </div>

                    <div class="form-group">
                        <label for="answer_2 ">Last answer</label>
                        <input type="text" placeholder="Last Answer" class="form-control" id="form_answer_2" v-model="form_question.Answer_2">
                    </div>

                    <div class="field form-group">
                        <input type="submit" value="Submit">
                    </div>

                </form>
            </div>
        </main>

        <footer class="footer footer-fixed-bottom ">
            Copyright...
        </footer>
    </div>
</body>

<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data: {
            statements: [],
            submit_form: false,
            currentStatement: 0,
            answered: 0,
            form_question: {
                'ID': 0,
                'Description': '',
                'Answer_1': '',
                'Answer_2': ''
            }
        },
        mounted() {
            this.getAllStatements()
        },
        methods: {
            getStatements: function(e) {

            },
            toggleForm: function(e) {
                this.submit_form = !this.submit_form
            },
            reveal: function(num) {
                if (this.answered == 0) {
                    this.answered = num
                    switch (num) {
                        case 1:
                            this.statements[this.currentStatement].CntAns1 += 1
                            break;
                        case 2:
                            this.statements[this.currentStatement].CntAns2 += 1
                            break;
                        default:
                            console.log("not valid data, only 2 available questions")
                    }
                    this.commitAnswer()
                }
            },
            commitAnswer: function() {
                fetch("/api/submitAnswer", {
                    method: 'post',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        'ID': parseInt(this.statement.ID),
                        'Answer': parseInt(this.answered)
                    })
                }).then(Response => Response.json()).then((data) => {
                    console.log(data)
                })
            },
            commitQuestion: function(e) {
                e.preventDefault()
                console.log(this.form_question)
                fetch("/api/newStatement", {
                        method: 'post',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify(this.form_question)
                    })
                    .then(Response => Response.json())
                    .then((data) => {
                        console.log(data)
                    })
                this.resetForm()
            },
            getAllStatements: function() {
                fetch("/api/allStatements")
                    .then(Response => Response.json())
                    .then((data) => {
                        this.statements = data
                        console.log(this.statements)
                    })
            },
            next: function(increment) {
                if (this.valid(this.currentStatement + increment)) {
                    this.answered = 0
                    this.currentStatement += increment
                } else {
                    console.log("no more questions available")
                }
            },
            valid: function(num) {
                if (num < this.statements.length && num >= 0) {
                    return true
                }
                return false
            },
            resetForm: function() {
                this.form_question.Description = ''
                this.form_question.Answer_1 = ''
                this.form_question.Answer_2 = ''
            }
        },
        computed: {
            statement: function() {
                return this.statements[this.currentStatement]
            }
        }
    })
</script>

</html>